@font-face {
    font-family: 'Exo-Black';
    src: url('./fonts/Exo/Exo-Light.ttf');
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: rgb(54, 54, 54);
}

div.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px;
    background-color: aliceblue;
    border-radius: 20px;
}

div.login h1 {
    margin-top: 0px;
}

form {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 5%;
    background-color: transparent;
    padding-top: 20px;
    height: 20px;
    border: none;
    border-bottom: 1px black solid;
}

form input:focus{
    border: none;
    outline: 0;
    border-bottom: 1px rgb(77, 77, 77) solid;
}

form button { 
    border: none;
    background-color: rgb(54, 54, 54);
    padding: 10px;
    color: white;
    border-radius: 20px;
    margin-top: 10%;
}

form button:hover {
    cursor: pointer;
    background-color: rgb(88, 88, 88);
}

div.titulo {
    color: white;
    justify-content: center;
    margin-top: 3%;
    font-family: Exo-Black;
}

footer {
    background-color: rgb(58, 62, 70);
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nomeCompainha {
    color: rgb(163, 163, 163);
    text-decoration: none;
    bottom: 0px;
    text-align: center;
    position: sticky;
}

footer span {
    display: flex;
    justify-content: center;
    padding: 15px;
    
}

span a.nomeCompainha {
    color: rgb(255, 255, 255);
}