* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(32, 32, 32);
}

footer {
    background-color: rgb(58, 62, 70);
    width: 100%;
    display: flex;
    justify-content: center;
    height: 8vh;
}

.nomeCompainha {
    color: rgb(163, 163, 163);
    text-decoration: none;
    bottom: 0px;
    text-align: center;
    position: sticky;
}

footer span {
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
}

a.aheader {
    color: white;
    text-decoration: none;
    font-size: larger;
}

div.header {
    padding: 15px;
}

header {
    width: 100%;
    background-color: rgb(58, 62, 70);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

span a.nomeCompainha {
    color: rgb(255, 255, 255);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
    width: 100%;
    flex-direction: column;
}

.ferramentas h1 {
    text-align: center;
    margin: 0px;
    font-weight: bold;
    padding: 20px;
    font-weight: bold;
}

.ferramentas {
    width: 65vw;
    height: 90%;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.linksFerramentas {
    display: flex;
    flex-direction: row;
    padding: 5%;
    height: 100%;
}

.linksFerramentas a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 62, 70);
    padding: 5%;
    height: 2%;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.linksFerramentas a:hover {
    background-color: rgb(103, 107, 116);
}

@media (max-width: 850px) {
    .linksFerramentas {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .ferramentas {
        height: 50vh;
    }
}

@media (max-width: 525px) {
    .linksFerramentas a {
        padding: 10%;
        border-radius: 10px;
    }
}